form{
    text-align: center;
    background-color: aqua;
    height: 100% ;
    width: 100%;
    
}

h1{
    color: red;

}

.name{
    margin: 10px;
}

.contact{
    margin: 10px;
    color: red;
}

.gender{
    font-size: larger;
    margin: 10px;
    color: brown;
}
.add{
    margin: 10px;
}

.tc{
    margin: 10px;
}